html, body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0%;
  background-color: #f3f0f0;
  color: rgb(41, 40, 40);
}
header #logo{
  width: 220px;
}
form{
  width: 100%;
  border: 1px solid rgb(220, 215, 215);
  box-sizing: border-box;
  padding: 10px;
}
form input, textarea{
  display: block;
  width: 280px;
  height: 40px;
  margin: 10px 0 10px 10px;
  border: 1px solid rgb(150, 148, 148);
  border-radius: 5px;
}
span{
  color: black;
}
textarea{
  height: 90px;
}

h2{
text-align: center;
}
h1{
color: white;
font-family: "Titre";
font-size: 25px;
}
button{
  padding: 10px;
  font-size: 13px;
  border-radius: 5px;
  background-color: rgb(132, 130, 130);
  color: white;
  font-weight: bold;
  border-color: #f3f0f0;
  margin : 10px 0 25px 10px
}
button:active{
  background-color: rgb(198, 195, 195);
  color: black;
}
@font-face {
  font-family: Titre;
  src: url(../font/DancingScript-VariableFont_wght.ttf);
}
.container-info{
  background-color: rgb(37, 35, 35);
  padding: 45px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(193, 186, 186);
}
.container-info p{
  color: white;
  margin-left: 45px;
}
.icone{
  float: left;
  width: 30px;
}
.label{
  margin-left: 10px;
}
#vase{
  width: 100%;
  box-sizing: border-box;
}
#slogan{
  border: 1px solid white;
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #A29992;
  color: white;
  text-align: center;
}

@media screen and (min-width:500px){
  h1{
    font-size: 32px;
  }
  h2{
    text-align: center;
    width: 100%;
  }
  form input, textarea{
    width: 450px;
    font-size: 16px;
  }
  button:hover{
    background-color: rgb(186, 181, 181);
    color: rgb(42, 40, 40);
  }
  button:active{
    background-color: black;
    color: white;
  }
  .container-info{
    height: 320px;
    font-size: 18px;
  }
  #logo{
    width: 206px;
  }
}
@media screen and (min-width : 800px){
  h1{
    font-size: 50px;
  }
  h2{
    text-align: center;
    width: 100%;
  }
  form{
    width: 45%;
    margin: auto;
    margin-bottom: 50px;
    background-color: rgb(245, 242, 242);
    border-radius: 5px;
  }
  form input, textarea{
    width: 300px;
    margin: 10px 0 10px 10px;
  }
  .label{
    margin-left: 10px;
  }
  .container-info p{
    margin-bottom: 65px;
  }
  .container-info{
    border: none;
    height: 550px;
    width: 60%;
  }
  #flex{
    display: flex;
  }
  #vase{
    height: 550px;
    width: 60%;
  }
}  
@media (min-width:900px) and (max-width:2000px){
  form{
    width: 40%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 5px;
  }
  form input, textarea{
    width: 80%;
  }
}