html, body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0%;
  background-color: #f3f0f0;
  color: rgb(41, 40, 40);
}
h1{
  margin: 0;
  color: rgb(252, 247, 247);
  letter-spacing: -2px;
  line-height: 320px;
  text-shadow:1px 3px 3px black;
  font-family: "Titre";
  font-size: 45px;
  margin-left: 74px;
}
h2{
  color: rgb(109, 99, 78);
}
@font-face {
  font-family: Titre;
  src: url(../font/DancingScript-VariableFont_wght.ttf);
}
.container{
  width: 95%;
  margin: auto;
  text-align: justify;
}
.center{
  text-align: center;
}
#accueil{
  background-image: url(../images/Bases-de-la-decoration-interieur-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 348px;
  width: 100%;
  text-align: center;
}
#accueil p{
  color: rgb(252, 247, 247);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-shadow:1px 3px 3px black;
  margin-left: 60px;
}
#banniere{
  background-image: url(../images/ban4.jpg);
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
}
#banniere p{
  font-family: "Titre";
  color: rgb(19, 2, 2);
  font-weight: bolder;
  font-size: 21px;
  margin: auto;
  margin-top:4%;
  width: 90%;
  text-shadow:1px 3px 3px rgb(252, 249, 249);
}
#banniere-2{
  width: 100%;
  border: 1px solid rgb(223, 219, 219);
  background-color: rgb(148, 143, 143);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 150px;
  text-shadow:1px 3px 3px black;
  box-sizing: border-box;
}
@media screen and (min-width : 800px){
  h1{
    margin: 0;
    color: rgb(252, 247, 247);
    font-size: 45px;
    letter-spacing: -3px;
    line-height: 440px;
    text-shadow:1px 3px 3px black;
    margin-left: 90px;
  }
  .container{
    width: 90%;
  }
  #accueil{
    background-image: url(../images/Bases-de-la-decoration-interieur-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 480px;
    width: 100%;
  }
  #accueil p{
    color: rgb(252, 247, 247);
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-shadow:1px 3px 3px black;
    margin-left: 75px;
  }
  #banniere{
    height: 220px;
    opacity: 0.7;
  }
  #banniere p{
    width: 50%;
    font-size: 32px;
    text-shadow:1px 3px 3px rgb(255, 255, 255);
    margin-top: 5%;
  }
}
@media (min-width:1000px) and (max-width:2000px){
  .container{
    width: 50%;
  }
  #banniere{
    opacity: 0.6;
  }
}