html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: #f3f3f3;
}
header{
    background-color: white;
    border: 1px solid rgb(204, 201, 201);
    border-bottom: none;
    text-align: center;
}

#logo{
    width: 160px;
}
.menu {
   position: fixed;
    right:0px;
  }
  #hamburger {
    display: none;
  }
  
  #hamburger-logo {
    cursor: pointer;
    background-color: #9F9A9C;
    width: 250px;
    display: block;
    color: rgb(59, 48, 48);
    text-align: left;
    transform: translateX(185px);
    padding: 10px;
  }
  #container-menu{
    height: 41px;
    border: 1px solid rgb(221, 210, 196);
    border-left: none;
    width: 100%;
  }
  nav {
    background-color: #9F9A9C;
    overflow: hidden;
    width: 270px;
    transform: translateX(280px);
  }
  
  #hamburger-logo,
  nav {
    transition: 0.7s;
  }
  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    transform: translate(0);
  }
  
  nav a {
    color: rgb(50, 47, 47);
    text-decoration: none;
    padding: 10px;
  }
#ul, #lia{
    list-style: none;
    padding: 0;
    width: 50px;
    letter-spacing: -2px;
    line-height: 35px;
    
}
#container-menu-2{
  display: none;
}
#accueil{
    background-image: url(../images/Bases-de-la-decoration-interieur-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    text-align: center;
}
h1{
    margin: 0;
    color: rgb(252, 247, 247);
    font-size: 35px;
    letter-spacing: -3px;
    line-height: 320px;
    text-shadow:1px 3px 3px black;
}
#accueil p{
    color: rgb(252, 247, 247);
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    text-shadow:1px 3px 3px black;
}
#footer{
  border: 1px solid rgb(221, 210, 196);
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  background-color: #9F9A9C;
  color: rgb(59, 48, 48);
}

footer p{
  margin: 3px;
}
#pint{
  width: 20px;
}
#insta{
  width: 30px;
}
#cp{
  font-style: italic;
}
@media screen and (min-width : 500px){
  #footer{
    font-size: 13px;
  }
  footer p{
    margin: 13px
  }
  #logo{
    width: 206px;
  }
}
@media screen and (min-width : 800px){
  #footer{
    font-size: 13px;
  }
  footer p{
    margin: 13px
  }
  #logo{
    width: 202px;
  }
  .menu{
    display: none;
  }
  #container-menu{
    display: none;
  }
  nav{
    display: none;
  }
  #container-menu-2 {
    display:block;
    width: 100%;
   
  }
  #ul #lia{
    display: none;
  }
  ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0;
    
  }
  li{
    list-style: none;
    border: 1px solid black;
    border-right: none;
    width: 450px;
  }
  li:last-child{
    border-right: 1px solid black;
  }
  #li a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: rgb(59, 48, 48);
  }
 #li a:hover{
  color: rgb(117, 110, 110);
  background-color: rgb(168, 158, 158);
 }
  #accueil{
    background-image: url(../images/Bases-de-la-decoration-interieur-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 480px;
    width: 100%;
}
h1{
  margin: 0;
  color: rgb(252, 247, 247);
  font-size: 35px;
  letter-spacing: -3px;
  line-height: 420px;
  text-shadow:1px 3px 3px black;
}
#accueil p{
  color: rgb(252, 247, 247);
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-shadow:1px 3px 3px black;
}
h1, #accueil p{
  margin-left: 50px;
}
}