html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: #f3f3f3;
  }
  header{
    background-color: white;
    border: 1px solid rgb(204, 201, 201);
    border-bottom: none;
    text-align: center;
  }
  nav {
    background-color: #A29992;;
    overflow: hidden;
    width: 100%;
    transform: translateY(-280px);
  }
  header #logo{
    width: 220px;
  }
  nav a {
    color: rgb(50, 47, 47);
    text-decoration: none;
    padding: 5px;
  }
  h1{
    color: rgb(253, 250, 250);
    text-align: center;
    line-height: 10px;
    letter-spacing: -1px;
    text-shadow:6px 2px 4px black;
    font-family: "Titre";
    font-size: 35px;
    margin: 0;
    line-height: 320px;
  }
  h4{
    font-family: "Titre";
    font-size: 30px;
  }
  footer p{
    margin: 2px;
  }
  img{
    width: 482px;
  }
  h5{
    font-size: 14px;
  }
  @font-face {
    font-family: Titre;
    src: url(../font/DancingScript-VariableFont_wght.ttf);
  }
  .logo-reseau:hover{
    opacity: 0.5;
  }
  #menu {
    position: absolute;
    right:0px;
    top: 0px;
    width: 100%;
  }
  #hamburger {
    display: none;
  }
  #hamburger-logo {
    cursor: pointer;
    background-color: #A29992;
    width: 465px;
    display: block;
    color: rgb(59, 48, 48);
    text-align: left;
    padding: 10px;
  }
  #container-menu{
    background-color: #A29992;
    position: fixed;
    top: 0px;
    height: 42px;
    border-left: none;
    width: 100%;
  }
  #hamburger-logo, nav {
      transition: 0.7s;
  }
  #hamburger:checked ~ #hamburger-logo, #hamburger:checked ~ nav {
    transform: translate(0);
  }
  #ul, .li-menu-1{
    list-style: none;
    padding: 0;
    width: 50px;
    letter-spacing: -2px;
    line-height: 35px;
  }
  #container-menu-2{
    display: none;
  }
  #footer{
    border: 1px solid rgb(221, 210, 196);
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    background-color: #A29992;
    color: rgb(59, 48, 48);
  }
  #pint{
    width: 20px;
  }
  #insta{
    width: 30px;
  }
  #copyright{
    font-style: italic;
  }
  #entete{
    background-image: url(../images/salon-blanc-epure.jpg);
    background-position: center;
    background-size: cover;
    height: 348px;
  }
  #banniere{
    background-image: url(../images/buffetdeco.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    opacity: 0.7;
  }
  #phrase{
    text-shadow:4px 6px 4px rgb(242, 238, 238);
    font-size: 27px;
    font-family: "Titre";
    color: rgb(23, 22, 22);
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
#container-sf{
  width: 100%;
  border: 1px solid rgb(207, 203, 203);
  box-sizing: border-box;
  background-color: rgb(133, 121, 121);
  color: white;
  text-align: center;
}
#container-sf p{
  font-size: 13px;
}

#plan{
  width: 100px;
}
#vase{
  width: 120px;
}
#carre{
  width: 140px;
}
#flex-2{
  border: 1px solid white;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(223, 223, 218);
  text-align: center;
  color: rgb(85, 72, 72);
}
#oreille{
  width: 110px;
}
#pinceau{
  width: 80px;
}
#main{
  width: 140px;
}
#trophe{
  width: 110px;
}
.valeur{
  font-weight: bold;
  font-size: 18px;
}
#banniere-2{
  width: 100%;
  border: 1px solid rgb(223, 219, 219);
  background-color: rgb(148, 143, 143);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 150px;
  text-shadow:1px 3px 3px black;
  box-sizing: border-box;
}
#contact{
  border: 1px solid white;
  width: 160px;
  padding: 8px;
  border-radius: 5px;
}
#contact, a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}
#contact:hover{
  background-color: rgb(177, 174, 174);
}
.cont{
  width: 90%;
  margin: auto;
  text-align: justify;
}
#img-cacher-2{
  display: none;
}
  @media screen and (min-width:500px){
    footer p{
      margin: 13px
    }
    #footer{
      font-size: 13px;
    }
    #logo{
      width: 206px;
    }
    #flex, #img-cacher{
     width: 100%;
    }
  }
  @media screen and (min-width : 800px){
    h1{
      margin: 0;
      color: rgb(252, 247, 247);
      font-size: 45px;
      letter-spacing: -3px;
      line-height: 440px;
      text-shadow:1px 3px 3px black;
      margin-left: 90px;
    }
    header{
      height: 275px;
    }
    footer p{
      margin: 13px;
    }
    nav{
      display: none;
    }
    ul {
      display: flex;
      padding: 0;
      justify-content: space-between;
      margin: 0;
    }
    li{
      list-style: none;
      border: 1px solid rgb(221, 210, 196);
      border-right: none;
      width: 450px;
    }
    li:last-child{
      border: 1px solid rgb(221, 210, 196);
    }
    .menu{
      display: none;
    }
    #footer{
      font-size: 15px;
      background-color: #A29992;
    }
    #container-menu{
      display: none;
    }
  
    #container-menu-2 {
      display:block;
      width: 100%;
    }
    #ul .li-menu-1{
      display: none;
    }
    #liste-menu-2 a{
      text-decoration: none;
      display: block;
      padding: 15px;
      color: rgb(59, 48, 48);
    }
    #liste-menu-2 a:hover{
      color: white;
      font-weight: bold;
      background-color: #A29992;
    }
    #entete{
      background-size: contain;
      background-repeat: no-repeat;
     }

  }
  @media (min-width:900px) and (max-width:2000px){
   #entete{
    background-size: contain;
    background-repeat: no-repeat;
   }
   .cont{
    width: 50%;
    margin: auto;
    text-align: justify;
  }
  #banniere{
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    opacity: 0.5;
  }
  #phrase{
    text-shadow:4px 3px 4px rgb(246, 244, 244);
    font-size: 35px;
    font-family: "Titre";
    color: rgb(23, 22, 22);
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 10%;
  }
  #flex{
    display: flex;
  }
  article img{
    width: 60%;
  }
  #img-cacher{
    display: 
    none;
  }
  #flex-2{
    display: flex;
    justify-content: space-around;
  }
  #img-cacher-2{
    display: block;
  }
  .text {
    width: 150px;
    margin: 0;
  }
  .text p{
    margin: 0;
    text-align: justify;
    font-size: 12px;
  }
  #pinceau{
    padding: 13px;
  }
 h5 {
  margin: 0;
 }
  }
