html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: #f3f3f3;
}
header{
    background-color: white;
    border: 1px solid rgb(204, 201, 201);
    border-bottom: none;
    text-align: center;
}
nav {
    background-color: #A29992;;
    overflow: hidden;
    width: 270px;
    transform: translateX(280px);
}
nav a {
    color: rgb(50, 47, 47);
    text-decoration: none;
    padding: 10px;
}
footer p{
    margin: 2px;
}
div{
  display: inline-block;
  margin: 0;
}
h1{
  font-family: "Titre";
  text-align: center;
  margin: auto;
  margin-top: 20%;
  font-size: 30px;
  color: #f3e7d1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
@font-face {
  font-family: Titre;
  src: url(../font/RobotoMono-VariableFont_wght.ttf)
}
.logo-reseau:hover{
    opacity: 0.5;
  }
  .container{
    width: 100%;

}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
  min-height: 1px;
  float: left;
  margin: 0;
  padding: 0;
}
.row{
  width: 100%;
  margin: 0;
}
#menu {
    position: fixed;
    right:0px;
}
#entete{
  background-image: url(../images/epure.jpg);
  background-position: center;
  background-size: cover;
  height: 470px;

}
#logo{
    width: 150px;
}
#hamburger {
    display: none;
}
#hamburger-logo {
    cursor: pointer;
    background-color: #A29992;
    width: 250px;
    display: block;
    color: rgb(59, 48, 48);
    text-align: left;
    transform: translateX(185px);
    padding: 10px;
}
#container-menu{
  height: 41px;
  border: 1px solid rgb(221, 210, 196);
  border-left: none;
  width: 100%;
}
#hamburger-logo, nav {
      transition: 0.7s;
}
#hamburger:checked ~ #hamburger-logo, #hamburger:checked ~ nav {
    transform: translate(0);
}
#ul, .li-menu-1{
    list-style: none;
    padding: 0;
    width: 50px;
    letter-spacing: -2px;
    line-height: 35px;
}
#container-menu-2{
    display: none;
}
#footer{
  border: 1px solid rgb(221, 210, 196);
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  background-color: #A29992;
  color: rgb(59, 48, 48);
}
#pint{
  width: 20px;
}
#insta{
  width: 30px;
}
#copyright{
  font-style: italic;
}
@media screen and (min-width : 500px){
  footer p{
    margin: 13px
  }
  #footer{
    font-size: 13px;
  }
  #logo{
    width: 206px;
  }
}
@media screen and (min-width : 800px){
  footer p{
    margin: 13px
  }
  nav{
    display: none;
  }
  ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 0;
  }
  li{
    list-style: none;
    border: 1px solid rgb(221, 210, 196);
    border-right: none;
    width: 450px;
  }
  li:last-child{
    border: 1px solid rgb(221, 210, 196);
  }
  .menu{
    display: none;
  }
  #footer{
    font-size: 15px;
    background-color: #A29992;;
  }
  #logo{
    width: 202px;
  }
  #container-menu{
    display: none;
  }

  #container-menu-2 {
    display:block;
    width: 100%;
  }
  #ul .li-menu-1{
    display: none;
  }
  #liste-menu-2 a{
    text-decoration: none;
    display: block;
    padding: 15px;
    color: rgb(59, 48, 48);
  }
  #liste-menu-2 a:hover{
    color: white;
    font-weight: bold;
    background-color: #A29992;
  }
}
@media screen and (min-width:1200px) {
  .col-lg-1{
      width: calc(100%/12);
  }
  .col-lg-2{
      width: calc(200%/12);
  }
  .col-lg-3{
      width: calc(300%/12);
  }
  .col-lg-4{
      width: calc(400%/12);
  }
  .col-lg-5{
      width: calc(500%/12);
  }
  .col-lg-6{
      width: calc(600%/12);
  }
  .col-lg-7{
      width: calc(700%/12);
  }
  .col-lg-8{
      width: calc(800%/12);
  }
  .col-lg-9{
      width: calc(900%/12);
  }
  .col-lg-10{
      width: calc(1000%/12);
  }
  .col-lg-11{
      width: calc(1100%/12);
  }
  .col-lg-12{
      width: calc(1200%/12);
  }
  
}