html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0%;
    background-color: #f3f0f0;
    color: rgb(41, 40, 40);
  }
header #logo{
  width: 220px;
}
@font-face {
  font-family: Titre;
  src: url(../font/DancingScript-VariableFont_wght.ttf);
}
h1{
  color: rgb(251, 247, 247);
  text-align: center;
  letter-spacing: -1px;
  text-shadow:1px 1px 15px rgb(9, 9, 9);
  font-family: "Titre";
  font-size: 35px;
  margin: 0;
  line-height: 300px;
}
article{
  width: 80%;
  text-align: justify;
  margin: auto;
}
#entete{
  background-image: url(../images/buffetchaise.jpg);
  background-position:center;
  width: 100%;
}
#plan{
  width: 100%;
}
@media screen and (min-width:500px){
  #logo{
    width: 206px;
  }
  #plan{
      width: 500px;
  }
}
@media screen and (min-width : 800px){
  #entete{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (min-width:900px) and (max-width:2000px){
  article{
      width: 58%;
  }
}